name: Repo-Sync

on:
  pull_request:
    branches: 
      - master

jobs:
  repo-sync:

    runs-on: ubuntu-latest
    
    steps:
    - name: repo-sync
      uses: wei/git-sync@v1
      env:
        SOURCE_REPO: "https://rohantarai:${{ secrets.RKT_TOKEN }}@github.com/rohantarai/cross-pipeline-testing.git"
        SOURCE_BRANCH: "master"
        DESTINATION_REPO: "https://mr-tps:${{ secrets.TPS_TOKEN }}@github.com/mr-tps/cross-pipeline-testing.git"
        DESTINATION_BRANCH: "public"
      with:
        args: $SOURCE_REPO $SOURCE_BRANCH $DESTINATION_REPO $DESTINATION_BRANCH
